{% extends 'adminlte/login.html' %}
{% load static %}
{% load bootstrap5 %}

{% block Logo_href %}
<div class="login-logo"><a href="https://redeparanagua.com.br" class="brand-link"><img src="{%static 'admin-lte/dist/img/logoparanagualogo.fw.webp' %}" alt="Rede Paranagua Logo" widw="300"></a> 
</div>
{% endblock Logo_href %}

{% block login_form %}
{% if validlink %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">
           Criar nova senha
        </div>
    </div>
    <div class="card-body">
        <form method="POST">
            {%  csrf_token %}
            {% bootstrap_form form %}          
            <button class="btn btn-primary" type="submit">Salvar</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock login_form %}
